/* Start Variables  */
:root {
    --main-color: #4b8ef1;
    --secondary-color: #2a2a2a;
    --secondary-alt: #afafaf;
    --main-transition: .3s;
    --main-padding-top: 5rem;
    --main-padding-bottom: 5rem;
  }
  /* End Variables  */

/* Start Global Rules  */


* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  transition: all var(--main-transition);
  -webkit-transition: all var(--main-transition);
  -moz-transition: all var(--main-transition);
  -ms-transition: all var(--main-transition);
  -o-transition: all var(--main-transition);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left:15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

::-webkit-scrollbar {
    width: 6px; /* vertical */
    height: 6px; /* horizontal */
  }

  ::-webkit-scrollbar-track {
    background: var(--secondary-alt); 
  }

  ::-webkit-scrollbar-thumb {
    background:var(--main-color);
    border-radius: 100vw;
  }

  /* Components */
  .container .heading {
    text-align: center;
  }

  .container .heading h1 {
    color: #000;
    margin-bottom: 5px;

  }
  .container .heading p  {
    margin-top: 20px;
    color: var(--secondary-alt);
    margin-inline: auto;
    max-width:500px;
    line-height: 1.6;
  }
  .container .heading h1 span,
  .container .heading p span {
    color: var(--main-color);
  }


  /* End Global Rules */



  /* Start Header */

  header {
    border-bottom: 1px solid var(--secondary-alt);
    padding-top: 15px;
    padding-bottom: 15px;
    height: 72px;
  }

  @media (max-width:991px) {
  header {
    background: #ffffffbd;
  }
  
 } 
  header .container {
    display: flex;
    left: 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
  }
 
  header .container .links ul {
  display: flex;
  gap: 30px;  
}
header .container .links ul li a {
  color: #000;
  font-weight: 500;
}
header .container .links ul li:not(:last-child):hover a {
  color: var(--main-color);
}

header .container .links ul li:last-child a {
  color: white;
  padding:10px 15px ;
  border-radius: 50px;
  background-image: linear-gradient(to right ,rgba(91,104,235,1) , rgba(40,225,253,1) );
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
header .container .links ul li:last-child a svg {
  padding-right: 5px;
}

  header .container svg.fa-bars {
    display: none;
    font-size: 25px;
    color: black;
    align-self: flex-end;
    cursor: pointer;
  }
  header .container .fa-bars:hover {
    color: var(--main-color);
  }
  

  /* NavBar Mobile Screen */
@media (max-width:991px) {
  header .container  svg.fa-bars {
    display: inline-block;
  }
  header .container .links ul {
    position: absolute;
    top: calc(100% + 7px);
    z-index: 99;
    right: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(214, 214, 214);
    opacity: 0;
    
  }
  header .container .links ul.active {
      opacity: 1;
  }
   header .container .links ul li  {
    flex-basis: 100%;
    padding: 15px 60px 15px 15px;
  }
  header .container .links ul li:not(:last-child,:nth-child(6)) {
     border-bottom: 1px solid var(--secondary-alt);
  }
 
  header .container .links ul li:not(:last-child):hover a{
    display: inline-block;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
  header .container .links ul li:last-child {
    background-color: #d9d9d9;
    padding: 20px 30px 20px ;

  }


}
  /* End Header */

  /* Start Landing */
    section.landing {
    position: relative;
    top: -72px;
    height:calc( 100vh + 72px);
    overflow-x: hidden;
      
    }
    section.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/slider-left-dec.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
    section.landing .container {
    display: grid;
    align-items: center;
    gap: 40px;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    }

    section.landing .container .left .text {
      max-width: 500px;
      
    }
    section.landing .container .left .text h1 {
     font-size: 3rem;
    }
    section.landing .container .left .text p {
      line-height: 2;
      margin-bottom: 20px;
    }
    section.landing .container .left .buttons a:first-child {
    margin-right: 20px;
    }
    section.landing .container .left .buttons a {
      background-color: var(--main-color);
      color: white;
      padding: 10px 15px;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
}
    section.landing .container .right img {
      max-width: 600px;
    }
    
    @media (max-width:991px) {
      section.landing .container {
        place-items: center;
        padding-top: 72px;
        grid-template-columns: 1fr;
     
      }
      section.landing .container .left {
        text-align: center;
      }
      section.landing .container .left .text {
        margin: 0 auto;
        width: 100%;
      }
      section.landing .container .left .text h1 {
        font-size: 2rem;
       }
      section.landing .container .right img {
        max-width:100%;
      }
    
      
    }
  /* End Landing */

  /* Start Services */
  .services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .services::before {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    z-index: -1;
    width: 1136px;
    height: 244px;
    background-image: url(../images/services-right-dec.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.services::after {
  content: "";
  position: absolute;
  bottom:-368px;
  left:0;
  z-index: -1;
  width: 261px;
  height: 368px;
  background-image: url(../images/services-left-dec.png);
  background-repeat: no-repeat;
  background-size: contain;

}

  .services .container > p {
    padding-bottom: var(--main-padding-bottom);
  }

  .services .container .content {
    padding-top: var(--main-padding-top);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    gap:30px;
  }
  
  .services .container .content .box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 2.25rem 1.5rem 1.25rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-top-right-radius: 50px;
    
  }

 
  .services .container .content .box .text {
    margin-bottom: 20px;
  }
  .services .container .content .box .text h3 {
  font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    }
  .services .container .content .box .text h3 + p {
    margin: 0 0 20px;
    line-height: 2;
    font-weight: 300;
    color: #afafaf;
   
  }
  .services .container .content .box:nth-child(3) p span{
    color: var(--main-color);
  }
  .services .container .content .box  a {
  color: var(--main-color);

  }
  .services .container .content .box  a svg {
    padding-left: 5px;
    font-weight: 500;
  }
  .services .container .content .box  a:hover  svg{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
.services .container .content .box:hover{
  background-image: url("../images/service-bg.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.services .container .content .box:hover *{
  color: white !important;
}
.services .container .content .box:hover .icon img {
 filter: brightness(0) invert(1);
 -webkit-filter: brightness(0) invert(1);
}

@media (max-width:991px) {
  .services .container .content .box * {
    text-align: center;
  }
  .services .container .content .box a  {
display: block;
  }
}
@media (min-width:992px) {
  .services .container .content .box:first-child {
    height: fit-content;
  }
}
  /* End Services/ */


  /* Start About */
  .about {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url("../images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
    background-position:  center center;
  }
  .about .container .content {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    place-items: center;
  }
  .about .container .content .box {
    background-color: #fff;
    cursor: pointer;
    padding-block: 5px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 20px;
}
.about .container .content .box > h3 {
  margin-bottom: 0;
}
.about .container .content .box:hover > h3 {
  color: var(--main-color);
}
.about .container .content .box > p {
  color: var(--secondary-alt);
  margin-top: 10px;
}
.about .container .content  .left .text > p:first-child {
  color: var(--secondary-alt);
  margin-top: 30px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.about .container .content  .left .text > a {
  color: white;
  display: inline-block;
  font-weight: 500;
  padding:10px 15px ;
  border-radius: 50px;
  background-image: linear-gradient(to right ,rgba(91,104,235,1) , rgba(40,225,253,1) );
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

}
.about .container .content  .left .text > p:last-of-type {
 color: var(--secondary-alt);
 font-size: 15px;
 margin-top: 10px;
}


@media (max-width:991px) {
  .about .container .content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about .container .content .right img {
    width: 100%;
  }
  
}
  /* End About */


  /* Start Testimonials */

  .testimonials  {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
  }
  .testimonials .container section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    gap: 30px;
  }
  @media (max-width:991px) {
    .testimonials .container section {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    } 
  }
  /* left */
  .testimonials .container section .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .testimonials .container section .left .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonials .container section .left .line:first-child * {
    color: var(--main-color);
  }
  .testimonials .container section .left .line .text , 
  .testimonials .container section .left .line > p , 
  .testimonials .container section .left .line .icons{
   flex: 1 1 170px;
   cursor: pointer;
  }
  .testimonials .container section .left .line .text p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .testimonials .container section .left .line .text p + span {
    font-size: 0.8rem;
    color: var(--secondary-alt);
  }
  .testimonials .container section .left .line > p {
    font-weight: 500;
  }
  .testimonials .container section .left .line:not(:first-child) > p {
    color: var(--secondary-alt);
  }
  .testimonials .container section .left .icons {
    display: flex;
    gap: 5px;
  }
  .testimonials .container section .left .icons span {
    font-weight: 500;
  }

  /* right */
  .testimonials .container section .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }
  .testimonials .container section .right .card {
    background-image: url("../images/client-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    width: 100%;
    height: fit-content;
    color: white;
    line-height: 2;
    font-style: italic;
    font-weight: 500;
    padding: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.testimonials .container section .right .client {
  display: flex;
  align-items: center;
  gap: 10px;
}
.testimonials .container section .right .client img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .container section .right .client p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--main-color);
}
.testimonials .container section .right .client p + span {
  color: var(--secondary-alt);
  font-size: 0.8rem;
  font-weight: 500;
}
  /* End Testimonials */

  /* Start Pricing */

  section.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
  }

  section.pricing .container .content {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:30px; 
  }
  section.pricing .container .content .box  {
    position: relative;
    overflow: hidden;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding:30px 30px 0px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
section.pricing .container .content .box::after,
section.pricing .container .content .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
section.pricing .container .content .box::after {
  bottom: 0;
  width: 100%;
  height: 201px;
  background-image: url("../images/pro-table-bottom.png");
}
section.pricing .container .content .box::before {
  top: 0px;
  width: 281px;
  height: 251px;
  background-image: url("../images/pro-table-top.png");
 
}
section.pricing .container .content .box:not(:nth-child(2)):before,
section.pricing .container .content .box:not(:nth-child(2)):after  {
  opacity: 0.5;
}
  section.pricing .container .content .box:nth-child(2) {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
  section.pricing .container .content .box .button {
    margin-bottom: 100px;
  }
  section.pricing .container .content .box:nth-child(2) .button {
    margin-bottom: 130px;
  }
  
  
section.pricing .container .content .box  span.price {
  align-self: flex-start;
  font-size: 2.3rem;
  font-weight: 500;
  color: white;
}
section.pricing .container .content .box  span.price + h3 {
  margin-block:10px 40px;
}
section.pricing .container .content .box:nth-child(2)  span.price + h3 {
  margin-block: 50px 40px;
}
  section.pricing .container .content .box  img {
    width: 120px;
    height: 106px;
  }
  section.pricing .container .content .box ul {
    margin-top: 30px;
    margin-bottom:50px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  section.pricing .container .content .box ul li {
    font-size: 15px;
  }
  section.pricing .container .content .box:first-child ul li:first-child,
  section.pricing .container .content .box:first-child ul li:nth-child(2){
   color: var(--main-color);
  }
  section.pricing .container .content .box:nth-child(2) ul li:not(:last-child,:nth-child(5)) {
    color: var(--main-color);
   }
  section.pricing .container .content .box:last-child ul li {
   color: var(--main-color);
  }
  section.pricing .container .content .box:first-child ul li:not(:first-child,:nth-child(2)),
  section.pricing .container .content .box:nth-child(2) ul li:last-child,
  section.pricing .container .content .box:nth-child(2) ul li:nth-child(5){
   color: var(--secondary-alt);
   text-decoration:line-through;
  }
  section.pricing .container .content .box .button a {
    color: var(--main-color);
    font-weight: 500;
    font-size: 15px;
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  section.pricing .container .content .box .button a:hover {
    color: white;
    background-color: var(--main-color);
  }


  /* responsive */

  @media (max-width:991px) {
    section.pricing .container .content .box:nth-child(2) .button {
      margin-bottom: 100px;
    }
    section.pricing .container .content .box:nth-child(2) {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    section.pricing .container .content .box:nth-child(2)  span + h2 {
      margin-block: 10px 40px;
    }
    
  }


  /* End Pricing */